@import "tailwindcss";

/* global.css */

/* :root {
  --color-bg: #ffffff;
  --color-bg-secondary: #f8fafc;
  --color-text: #0f172a;
  --color-border: #cbd5e1;
  --color-primary: #06b6d4;
}

[data-theme="dark"] {
  --color-bg: #0f172a;
  --color-bg-secondary: #1e293b;
  --color-text: #e2e8f0;
  --color-border: #475569;
  --color-primary: #38bdf8;
}

body {
  background-color: var(--color-bg-secondary);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

 */
